<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update product</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <form class="col-md-8 mx-auto mt-4" action="/products/update" method="post">
            <h4>update product</h4>
            <input type="hidden" name="id" id="id" value="<%= product.id %>">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" value="<%= product.title %>">
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" step="0.01" class="form-control" id="price" name="price"
                    value="<%= product.price %>">
            </div>

            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
    </div>
</body>

</html>